In [14]:
# Import Dependencies
import os
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import sem
from scipy.stats import linregress

In [16]:
# Set files input path, and read in pandas. We use the recently updated dataset on 06/29/2020.
global_dataset=pd.read_csv('../data_set/Global/06-29-2020.csv')
us_dataset=pd.read_csv('../data_set/US/06-29-2020.csv')
population_dataset=pd.read_csv('../data_set/Global Population/population.csv')
lockdown_level=pd.read_csv('../data_set/Lockdown data/global_countries_lockdown.csv')

In [3]:
# Display the dataset for US dataset to look for unnecessary values
us_dataset
# In this dataset, the Grand Princess and Diamond Princess will not be used, since they are cruise ships, 
# and not counted as the states.

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-06-30 04:34:02,32.3182,-86.9023,37175,929,18866.0,17380.0,1,758.180652,393293.0,2725.0,2.498991,84000001.0,USA,8021.173992,7.330195
1,Alaska,US,2020-06-30 04:34:02,61.3707,-152.4044,901,14,525.0,362.0,2,123.163989,108709.0,NaN,1.553829,84000002.0,USA,14860.193153,NaN
2,American Samoa,US,2020-06-30 04:34:02,-14.2710,-170.1320,0,0,NaN,0.0,60,0.000000,696.0,NaN,NaN,16.0,ASM,1250.876152,NaN
3,Arizona,US,2020-06-30 04:34:02,33.7298,-111.4312,74545,1598,9179.0,63768.0,4,1024.150273,511423.0,4634.0,2.143672,84000004.0,USA,7026.279494,6.216379
4,Arkansas,US,2020-06-30 04:34:02,34.9697,-92.3731,20257,265,14066.0,5926.0,5,671.249690,302536.0,1380.0,1.308190,84000005.0,USA,10025.038074,6.812460
5,California,US,2020-06-30 04:34:02,36.1162,-119.6816,223646,5983,NaN,217663.0,6,566.017255,4061692.0,NaN,2.675210,84000006.0,USA,10279.583611,NaN
6,Colorado,US,2020-06-30 04:34:02,39.0598,-105.3111,32494,1681,4459.0,26354.0,8,564.255767,319565.0,5401.0,5.173263,84000008.0,USA,5549.221218,16.621530
7,Connecticut,US,2020-06-30 04:34:02,41.5978,-72.7554,46362,4320,8053.0,33989.0,9,1300.372172,444976.0,10268.0,9.317976,84000009.0,USA,12480.790467,22.147448
8,Delaware,US,2020-06-30 04:34:02,39.3185,-75.5071,11376,507,6665.0,4204.0,10,1168.250213,109931.0,NaN,4.456751,84000010.0,USA,11289.285700,NaN
9,Diamond Princess,US,2020-06-30 04:34:02,NaN,NaN,49,0,NaN,49.0,88888,NaN,NaN,NaN,0.000000,84088888.0,USA,NaN,NaN
10,District of Columbia,US,2020-06-30 04:34:02,38.8974,-77.0268,10292,551,1200.0,8541.0,11,1458.308832,95360.0,NaN,5.353673,84000011.0,USA,13511.885954,NaN
11,Florida,US,2020-06-30 04:34:02,27.7663,-81.6868,146341,3447,NaN,142894.0,12,681.361356,1912743.0,14651.0,2.355457,84000012.0,USA,8905.700819,10.011548
12,Georgia,US,2020-06-30 04:34:02,33.0406,-83.6431,79417,2784,NaN,76633.0,13,747.987530,823117.0,10824.0,3.505547,84000013.0,USA,7752.512074,13.629324
13,Grand Princess,US,2020-06-30 04:34:02,NaN,NaN,103,3,NaN,100.0,99999,NaN,NaN,NaN,2.912621,84099999.0,USA,NaN,NaN
14,Guam,US,2020-06-30 04:34:02,13.4443,144.7937,253,5,179.0,69.0,66,154.053182,12914.0,NaN,1.976285,316.0,GUM,7863.410238,NaN
15,Hawaii,US,2020-06-30 04:34:02,21.0943,-157.4983,900,18,719.0,163.0,15,63.565068,77155.0,111.0,2.000000,84000015.0,USA,5449.292026,12.333333
16,Idaho,US,2020-06-30 04:34:02,44.2405,-114.4788,5752,91,3898.0,1763.0,16,321.868539,86345.0,312.0,1.582058,84000016.0,USA,4831.665328,5.424200
17,Illinois,US,2020-06-30 04:34:02,40.3495,-88.9861,142461,6902,NaN,135559.0,17,1124.234631,1572949.0,NaN,4.844835,84000017.0,USA,12412.967323,NaN
18,Indiana,US,2020-06-30 04:34:02,39.8494,-86.2583,45228,2624,34348.0,8256.0,18,671.814152,476519.0,7024.0,5.801716,84000018.0,USA,7078.186256,15.530203
19,Iowa,US,2020-06-30 04:34:02,42.0115,-93.2105,28845,711,17851.0,10283.0,19,914.242790,300845.0,NaN,2.464899,84000019.0,USA,9535.287648,NaN
20,Kansas,US,2020-06-30 04:34:02,38.5266,-96.7265,14209,273,794.0,13142.0,20,487.726349,176725.0,1152.0,1.921317,84000020.0,USA,6066.115771,8.107537
21,Kentucky,US,2020-06-30 04:34:02,37.6681,-84.6701,15347,560,3939.0,10848.0,21,343.512159,361441.0,2602.0,3.648922,84000021.0,USA,8090.139990,16.954454
22,Louisiana,US,2020-06-30 04:34:02,31.1695,-91.8678,57081,3199,42225.0,11657.0,22,1227.866840,704637.0,NaN,5.604317,84000022.0,USA,15157.415020,NaN
23,Maine,US,2020-06-30 04:34:02,44.6939,-69.3819,3219,105,2623.0,491.0,23,239.471155,93523.0,347.0,3.261883,84000023.0,USA,6957.459091,10.779745
24,Maryland,US,2020-06-30 04:34:02,39.0639,-76.8021,67254,3175,4979.0,59100.0,24,1112.430694,529313.0,10822.0,4.720909,84000024.0,USA,8755.226873,16.091236
25,Massachusetts,US,2020-06-30 04:34:02,42.2302,-71.5301,108768,8094,NaN,100674.0,25,1578.062425,842287.0,11345.0,7.441527,84000025.0,USA,12220.335631,10.430457
26,Michigan,US,2020-06-30 04:34:02,43.3266,-84.5361,70223,6161,51099.0,12963.0,26,703.154156,1029375.0,NaN,8.773479,84000026.0,USA,10307.296880,NaN
27,Minnesota,US,2020-06-30 04:34:02,45.6945,-93.9002,35861,1470,31225.0,3166.0,27,635.874823,592955.0,4031.0,4.099161,84000027.0,USA,10514.072549,11.240624
28,Mississippi,US,2020-06-30 04:34:02,32.7416,-89.6787,26567,1059,19388.0,6120.0,28,892.663640,283522.0,3115.0,3.986148,84000028.0,USA,9526.471961,11.725072
29,Missouri,US,2020-06-30 04:34:02,38.4561,-92.2884,20825,1004,NaN,19821.0,29,339.311516,367406.0,NaN,4.821128,84000029.0,USA,5986.318699,NaN
30,Montana,US,2020-06-30 04:34:02,46.9219,-110.4544,919,22,609.0,288.0,30,85.986051,88743.0,100.0,2.393906,84000030.0,USA,8303.221062,10.881393
31,Nebraska,US,2020-06-30 04:34:02,41.1254,-98.2681,19042,269,13322.0,5451.0,31,984.383853,175272.0,1316.0,1.412667,84000031.0,USA,9060.756573,6.911039
32,Nevada,US,2020-06-30 04:34:02,38.3135,-117.0554,17894,504,689.0,16701.0,32,580.944602,273017.0,NaN,2.816587,84000032.0,USA,8863.739369,NaN
33,New Hampshire,US,2020-06-30 04:34:02,43.4525,-71.5639,5760,367,4435.0,958.0,33,423.619431,118298.0,565.0,6.371528,84000033.0,USA,8700.231152,9.809028
34,New Jersey,US,2020-06-30 04:34:02,40.2989,-74.5210,171272,14992,30163.0,126117.0,34,1928.263187,1403984.0,19847.0,8.753328,84000034.0,USA,15806.732349,11.588000
35,New Mexico,US,2020-06-30 04:34:02,34.8405,-106.2485,11982,493,5264.0,6225.0,35,571.434294,331048.0,1865.0,4.114505,84000035.0,USA,15788.030402,15.565014
36,New York,US,2020-06-30 04:34:02,42.1657,-74.9481,393403,31403,70435.0,291565.0,36,2021.758381,3862913.0,89995.0,7.984409,84000036.0,USA,19857.099685,22.881791
37,North Carolina,US,2020-06-30 04:34:02,35.6301,-79.8064,63736,1357,45538.0,16841.0,37,607.699176,886305.0,NaN,2.129095,84000037.0,USA,8450.590213,NaN
38,North Dakota,US,2020-06-30 04:34:02,47.5289,-99.7840,3539,79,3163.0,297.0,38,464.397910,105691.0,227.0,2.232269,84000038.0,USA,13869.081518,6.414241
39,Northern Mariana Islands,US,2020-06-30 04:34:02,15.0979,145.6739,30,2,19.0,9.0,69,54.403018,8217.0,NaN,6.666667,580.0,MNP,14900.986508,NaN
40,Ohio,US,2020-06-30 04:34:02,40.3888,-82.7649,51046,2818,NaN,48228.0,39,436.697436,774382.0,7746.0,5.520511,84000039.0,USA,6624.821415,15.174548
41,Oklahoma,US,2020-06-30 04:34:02,35.5653,-96.9289,13175,385,9587.0,3203.0,40,332.956698,326193.0,1489.0,2.922201,84000040.0,USA,8243.502416,11.301708
42,Oregon,US,2020-06-30 04:34:02,44.5720,-122.0709,8485,204,2700.0,5581.0,41,201.174232,235133.0,1025.0,2.404243,84000041.0,USA,5574.861590,12.080141
43,Pennsylvania,US,2020-06-30 04:34:02,40.5908,-77.2098,90467,6614,67070.0,16783.0,42,706.663629,752889.0,NaN,7.310953,84000042.0,USA,5881.031455,NaN
44,Puerto Rico,US,2020-06-30 04:34:02,18.2208,-66.5901,7250,153,NaN,7097.0,72,247.152800,7250.0,NaN,2.110345,630.0,PRI,247.152800,NaN
45,Rhode Island,US,2020-06-30 04:34:02,41.6809,-71.5118,16764,946,1627.0,14191.0,44,1582.463391,238520.0,1995.0,5.643045,84000044.0,USA,22515.459791,11.900501
46,South Carolina,US,2020-06-30 04:34:02,33.8569,-80.9450,34644,720,13456.0,20468.0,45,672.867050,369305.0,2622.0,2.078282,84000045.0,USA,7172.761975,7.568410
47,South Dakota,US,2020-06-30 04:34:02,44.2998,-99.4388,6716,91,5818.0,807.0,46,759.162570,79457.0,657.0,1.354973,84000046.0,USA,8981.652818,9.782609
48,Tennessee,US,2020-06-30 04:34:02,35.7478,-86.6923,42297,592,26962.0,14743.0,47,619.357480,777206.0,2599.0,1.399626,84000047.0,USA,11380.673563,6.144644
49,Texas,US,2020-06-30 04:34:02,31.0545,-97.5635,156706,2416,81335.0,72955.0,48,540.442279,1819189.0,NaN,1.541741,84000048.0,USA,6273.956635,NaN
50,Utah,US,2020-06-30 04:34:02,40.1500,-111.8624,21664,168,12205.0,9291.0,49,675.741853,333905.0,1417.0,0.775480,84000049.0,USA,10415.139562,6.540805
51,Vermont,US,2020-06-30 04:34:02,44.0459,-72.7107,1208,56,949.0,203.0,50,193.593156,64993.0,NaN,4.635762,84000050.0,USA,10415.728482,NaN
52,Virgin Islands,US,2020-06-30 04:34:02,18.3358,-64.8963,81,6,71.0,4.0,78,75.511802,2827.0,NaN,7.407407,850.0,VIR,2635.455122,NaN
53,Virginia,US,2020-06-30 04:34:02,37.7693,-78.1700,62189,1740,8023.0,52426.0,51,728.590728,636372.0,8823.0,2.797922,84000051.0,USA,7455.574758,14.187396
54,Washington,US,2020-06-30 04:34:02,47.4009,-121.4905,32253,1320,NaN,30933.0,53,423.551585,534443.0,4275.0,4.092643,84000053.0,USA,7018.391460,13.254581
55,West Virginia,US,2020-06-30 04:34:02,38.4912,-80.9545,2870,93,2196.0,581.0,54,160.143113,169655.0,NaN,3.240418,84000054.0,USA,9466.578355,NaN
56,Wisconsin,US,2020-06-30 04:34:02,44.2685,-89.6165,28058,777,22217.0,5064.0,55,481.894685,558392.0,3407.0,2.769264,84000055.0,USA,9590.353450,12.142704
57,Wyoming,US,2020-06-30 04:34:02,42.7560,-107.3025,1450,20,1070.0,360.0,56,250.536061,31856.0,112.0,1.379310,84000056.0,USA,5504.190864,7.724138

In [4]:
# Get the indices of the rows that are not used
unused_rows=us_dataset.loc[(us_dataset['Province_State']=='Grand Princess')|(us_dataset['Province_State']=='Diamond Princess')]
unused_rows

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
9,Diamond Princess,US,2020-06-30 04:34:02,NaN,NaN,49,0,NaN,49.0,88888,NaN,NaN,NaN,0.000000,84088888.0,USA,NaN,NaN
13,Grand Princess,US,2020-06-30 04:34:02,NaN,NaN,103,3,NaN,100.0,99999,NaN,NaN,NaN,2.912621,84099999.0,USA,NaN,NaN

In [20]:
# Drop the 9th and 13th rows and some extra columns what would not be used, such as: 
# Country_Region,Last_Update,FIPS,People_Tested,People_Hospitalized,Morality_rate, and last 4 columns.
cleaned_us_dataset=us_dataset.drop(us_dataset.index[[9,13]])

# Drop unused columns:
cleaned_us_dataset=cleaned_us_dataset[['Province_State','Last_Update','Lat','Long_','Confirmed','Deaths','Recovered','Active','Incident_Rate']]
cleaned_us_dataset=cleaned_us_dataset.reset_index()

# Delete the old index column
del cleaned_us_dataset['index']

# Fill the NaN cells with 0
cleaned_us_dataset=cleaned_us_dataset.fillna(0)

# Rename the Long_ column, so the df will have cleaner look
cleaned_us_dataset=cleaned_us_dataset.rename(columns={
    'Long_':'Lng'
})

# Display the cleaned up dataset for US
cleaned_us_dataset.head()

,Province_State,Last_Update,Lat,Lng,Confirmed,Deaths,Recovered,Active,Incident_Rate
0,Alabama,2020-06-30 04:34:02,32.3182,-86.9023,37175,929,18866.0,17380.0,758.180652
1,Alaska,2020-06-30 04:34:02,61.3707,-152.4044,901,14,525.0,362.0,123.163989
2,American Samoa,2020-06-30 04:34:02,-14.2710,-170.1320,0,0,0.0,0.0,0.000000
3,Arizona,2020-06-30 04:34:02,33.7298,-111.4312,74545,1598,9179.0,63768.0,1024.150273
4,Arkansas,2020-06-30 04:34:02,34.9697,-92.3731,20257,265,14066.0,5926.0,671.249690

In [21]:
# Display the Global dataset, also the population dataset, 
global_dataset.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-06-30 04:33:48,34.223334,-82.461707,106,0,0,106,"Abbeville, South Carolina, US",432.176785,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-30 04:33:48,30.295065,-92.414197,850,37,0,813,"Acadia, Louisiana, US",1369.973406,4.352941
2,51001.0,Accomack,Virginia,US,2020-06-30 04:33:48,37.767072,-75.632346,1039,14,0,1025,"Accomack, Virginia, US",3215.125634,1.347449
3,16001.0,Ada,Idaho,US,2020-06-30 04:33:48,43.452658,-116.241552,2040,23,0,2017,"Ada, Idaho, US",423.599474,1.127451
4,19001.0,Adair,Iowa,US,2020-06-30 04:33:48,41.330756,-94.471059,15,0,0,15,"Adair, Iowa, US",209.731544,0.000000

In [22]:
# Display the population_dataset
population_dataset.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
0,4,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.93911,67.709953,Afghanistan,38928341.0
1,8,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.15330,20.168300,Albania,2877800.0
2,12,DZ,DZA,12.0,NaN,NaN,NaN,Algeria,28.03390,1.659600,Algeria,43851043.0
3,20,AD,AND,20.0,NaN,NaN,NaN,Andorra,42.50630,1.521800,Andorra,77265.0
4,24,AO,AGO,24.0,NaN,NaN,NaN,Angola,-11.20270,17.873900,Angola,32866268.0

In [23]:
# Find the US dataframe within the global_dataset, and count them to confirm the correct data.
# us_grouped=global_dataset.loc[global_dataset['Country_Region']=='US']
# len(us_grouped) = 3114
# So we found that there are 3114 rows for the US within the global_dataset, 
# so the rest would be 3785-3114 = 671 row entries for the global.
# global_dataset=global_dataset[global_dataset['Country_Region']!='US']
# len(global_dataset) = 671

# Drop some of the unecessary columns
global_dataset=global_dataset[['Province_State','Country_Region','Last_Update','Lat','Long_','Confirmed','Deaths','Recovered','Active','Incidence_Rate']]

# Rename some columns so the dataframe will look cleaner
cleaned_global_dataset=global_dataset.rename(columns={
    'Long_':'Lng',
    'Incidence_Rate':'Incident_Rate'
})
# Display the final global_dataset to look for null cells
cleaned_global_dataset

# Fill the Province_State NaN with unidentified as marker for map, since they have geocoordinate values
cleaned_global_dataset['Province_State']=cleaned_global_dataset['Province_State'].fillna(value='Unidentified')
# Fill other NaN (if any) with 0
cleaned_global_dataset=cleaned_global_dataset.fillna(0)
# Reset the index for df
cleaned_global_dataset.reset_index()
cleaned_global_dataset=cleaned_global_dataset.reset_index()
del cleaned_global_dataset['index']
# Display the df
cleaned_global_dataset.head()

,Province_State,Country_Region,Last_Update,Lat,Lng,Confirmed,Deaths,Recovered,Active,Incident_Rate
0,South Carolina,US,2020-06-30 04:33:48,34.223334,-82.461707,106,0,0,106,432.176785
1,Louisiana,US,2020-06-30 04:33:48,30.295065,-92.414197,850,37,0,813,1369.973406
2,Virginia,US,2020-06-30 04:33:48,37.767072,-75.632346,1039,14,0,1025,3215.125634
3,Idaho,US,2020-06-30 04:33:48,43.452658,-116.241552,2040,23,0,2017,423.599474
4,Iowa,US,2020-06-30 04:33:48,41.330756,-94.471059,15,0,0,15,209.731544

In [9]:
# Work with the global population_dataset to get the population for the us and the rest.
population_df=pd.DataFrame(columns=['Country_Region','Population'])
# Get the list of names countries in the global.
global_list_name=cleaned_global_dataset['Country_Region'].unique()
# grouped_df=population_dataset.groupby(['Country_Region'])
# sum1=(grouped_df['Population'].sum())/2
    
# population_df['Population']=sum1        
# population_df.reset_index()
# population_df.loc[population_df['Country_Region']=='US']
for i,row in population_dataset.iterrows():
    if row['Country_Region'] == row['Combined_Key']:
        population_df=population_df.append({'Country_Region':row['Country_Region'],'Population':row['Population']},ignore_index=True)
        

population_df.sort_values(by='Country_Region')

         Country_Region  Population
0           Afghanistan  38928341.0
1               Albania   2877800.0
2               Algeria  43851043.0
3               Andorra     77265.0
4                Angola  32866268.0
..                  ...         ...
179  West Bank and Gaza   5101416.0
180      Western Sahara    597330.0
181               Yemen  29825968.0
182              Zambia  18383956.0
183            Zimbabwe  14862927.0

[188 rows x 2 columns]

In [10]:
grouped_global=cleaned_global_dataset.groupby(['Country_Region','Province_State'])
mortality_rate=grouped_global['Deaths'].sum().reset_index()
mortality_rate.sort_values(by='Country_Region')
# mortality_rate.loc[mortality_rate['Country_Region']=='US']
# sorted_value=mortality_rate.sort_values(by='Country_Region')
# population_df['Mortality']=sorted_value['Deaths']
# # # population_df.loc[:,'Mortality'=mortality_rate]
# joined_df=population_df.join(mortality_rate,how='left',on='Country_Region')


us_mortality=mortality_rate.loc[mortality_rate['Country_Region']=='US']
us_mortality

    Country_Region            Province_State  Deaths
618             US                   Alabama     929
619             US                    Alaska      14
620             US                   Arizona    1598
621             US                  Arkansas     265
622             US                California    5983
623             US                  Colorado    1681
624             US               Connecticut    4320
625             US                  Delaware     507
626             US          Diamond Princess       0
627             US      District of Columbia     551
628             US                   Florida    3447
629             US                   Georgia    2784
630             US            Grand Princess       3
631             US                      Guam       5
632             US                    Hawaii      18
633             US                     Idaho      91
634             US                  Illinois    6902
635             US                   Indiana    2624
636             US                      Iowa     711
637             US                    Kansas     273
638             US                  Kentucky     560
639             US                 Louisiana    3199
640             US                     Maine     105
641             US                  Maryland    3175
642             US             Massachusetts    8094
643             US                  Michigan    6161
644             US                 Minnesota    1470
645             US               Mississippi    1059
646             US                  Missouri    1004
647             US                   Montana      22
648             US                  Nebraska     269
649             US                    Nevada     504
650             US             New Hampshire     367
651             US                New Jersey   14992
652             US                New Mexico     493
653             US                  New York   31403
654             US            North Carolina    1357
655             US              North Dakota      79
656             US  Northern Mariana Islands       2
657             US                      Ohio    2818
658             US                  Oklahoma     385
659             US                    Oregon     204
660             US              Pennsylvania    6614
661             US               Puerto Rico     153
662             US                 Recovered       0
663             US              Rhode Island     946
664             US            South Carolina     720
665             US              South Dakota      91
666             US                 Tennessee     592
667             US                     Texas    2416
668             US                      Utah     168
669             US                   Vermont      56
670             US            Virgin Islands       6
671             US                  Virginia    1740
672             US                Washington    1320
673             US             West Virginia      93
674             US                 Wisconsin     777
675             US                   Wyoming      20

In [11]:
lockdown_df=pd.DataFrame(lockdown_level)
droped_lockdown_df=lockdown_df.drop(lockdown_df.index[[0,-1]])
droped_lockdown_df=droped_lockdown_df.reset_index()
del droped_lockdown_df['index']
droped_lockdown_df.rename(columns={
    "vteCOVID-19 pandemic lockdowns":'Countries_Territories',
    'vteCOVID-19 pandemic lockdowns.1':'Place',
    'vteCOVID-19 pandemic lockdowns.2':'Start_date',
    'vteCOVID-19 pandemic lockdowns.3':'End_date',
    'vteCOVID-19 pandemic lockdowns.4':'Level'
    
},inplace=True)


national_lockdown_df=droped_lockdown_df.loc[droped_lockdown_df['Level']=='National']
regional_lockdown_df=droped_lockdown_df.loc[droped_lockdown_df['Countries_Territories']== 'United States']

national_lockdown_df.fillna(0)
national_lockdown_df=national_lockdown_df.reset_index()
del national_lockdown_df['index']
national_lockdown_df.head(50)

,Countries_Territories,Place,Start_date,End_date,Level
0,Albania,Albania,2020-03-13[3],2020-06-01[4],National
1,Argentina,Argentina,2020-03-19[7],2020-06-28[8],National
2,Armenia,Armenia,2020-03-24[9],2020-05-04[10],National
3,Australia,Australia,2020-03-23[11],NaN,National
4,Austria,Austria,2020-03-16[12],2020-04-13[13],National
5,Azerbaijan,Azerbaijan,2020-03-31[14],2020-04-20[14],National
6,Bangladesh,Bangladesh,2020-03-26[15],2020-05-16[16],National
7,Barbados,Barbados,2020-03-28[17],2020-05-03[17],National
8,Belgium,Belgium,2020-03-18[18],2020-05-04 [19],National
9,Bermuda,Bermuda,2020-04-04[20],2020-05-02[21],National
10,Bolivia,Bolivia,2020-03-22[22],2020-07-31[23],National
11,Botswana,Botswana,2020-04-02[24],2020-04-30[24],National
12,Colombia,Colombia,2020-03-25[28],2020-06-30[29],National
13,Republic of the Congo,Republic of the Congo,2020-03-31[30],2020-04-20[30],National
14,Costa Rica,Costa Rica,2020-03-23[31],NaN,National
15,Croatia,Croatia,2020-03-18[32],2020-04-19[33],National
16,Czech Republic,Czech Republic,2020-03-16[12],2020-04-12[34],National
17,Ecuador,Ecuador,2020-03-16[35],2020-03-31[35],National
18,El Salvador,El Salvador,2020-03-12[36],2020-04-02[36],National
19,Eritrea,Eritrea,2020-04-02[37],2020-04-23[37],National
20,France,France,2020-03-17[42],2020-05-11[43],National
21,Georgia,Georgia,2020-03-31[44],2020-04-21[44],National
22,Germany,Germany,2020-03-23[a][46],2020-04-20[47]to 2020-05-10[48],National
23,Greece,Greece,2020-03-23[51],2020-05-04[52],National
24,Guernsey,Guernsey,2020-03-25[53],NaN,National
25,Honduras,Honduras,2020-03-20[54],2020-05-17[55],National
26,Hungary,Hungary,2020-03-28[56],2020-04-10[56],National
27,India,India,2020-03-25[57],2020-06-30[58],National
28,Iran,Iran,2020-03-14[59],2020-04-20[60],National
29,Iraq,Iraq,2020-03-22[61],2020-04-11[62],National
30,Ireland,Ireland,2020-03-12[63],2020-05-18[64],National
31,Italy,Italy,2020-03-09[b][66],2020-05-18[67],National
32,Jordan,Jordan,2020-03-18[69],2020-04-30[70],National
33,Kosovo,Kosovo,2020-03-14[71],2020-05-04 [72],National
34,Kuwait,Kuwait,2020-03-14[73],2020-03-29[73],National
35,Lebanon,Lebanon,2020-03-15[74],2020-03-28[74],National
36,Libya,Libya,2020-03-22[76],NaN,National
37,Lithuania,Lithuania,2020-03-16[77],2020-06-18[78],National
38,Malaysia,Malaysia,2020-03-18[81],2020-06-09[82],National
39,Mexico,Mexico,2020-03-23[83],2020-06-01[83],National
40,Mongolia,Mongolia,2020-03-10[84],2020-03-16[84],National
41,Morocco,Morocco,2020-03-19[86],2020-06-10[87],National
42,Namibia,Namibia,2020-03-27[c][88],2020-05-04[89],National
43,Nepal,Nepal,2020-03-24[90],2020-06-14[91],National
44,New Zealand,New Zealand,2020-03-26[92],2020-05-14[93],National
45,Northern Cyprus,Northern Cyprus,2020-03-30[95],NaN,National
46,Pakistan,Pakistan,2020-03-24[99],2020-05-09[100],National
47,Panama,Panama,2020-03-25[101],NaN,National
48,Papua New Guinea,Papua New Guinea,2020-03-24[102],2020-04-07[102],National
49,Paraguay,Paraguay,2020-03-20[103],2020-05-03[104],National

In [12]:
regional_lockdown_df.fillna(0)

,Countries_Territories,Place,Start_date,End_date,Level
100,United States,California,2020-03-19[152],0,State
101,United States,Clark County in Nevada,2020-03-20,0,County
102,United States,Connecticut,2020-03-23[153],2020-04-22[154],State
103,United States,Illinois,2020-03-21[155],2020-05-30[156],State
104,United States,Kansas City in Kansas,2020-03-24[157],2020-04-19[158],City
105,United States,Massachusetts,2020-03-24[159],2020-05-04[159],State
106,United States,Michigan,2020-03-24[160],2020-04-13[154],State
107,United States,New York,2020-03-22[161],2020-06-13[162],State
108,United States,Oregon,2020-03-24[163],0,State
109,United States,Wisconsin,2020-03-24[164],0,State